RewriteEngine On

# Redirect karolliwinski.pl -> karolliwinski.com
RewriteCond %{HTTP_HOST} ^(www\.)?karolliwinski\.pl$ [NC]
RewriteRule ^(.*)$ https://karolliwinski.com/$1 [L,R=301]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
